.App {
  text-align: center;
}
.display{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-div{
  border-radius: 10px;
  margin: 20px auto;
  max-width: 80%;
  border: 1px solid rgb(145, 142, 142);
  box-shadow: 5px 10px 8px #888888;
}
.margin{
  margin: 20px 0px;
}